<div class="card shadow-sm">
  <img
    class="object-fit-sm-cover object-fit-md-cover"
    src="http://localhost:3000/{{ hotel.imagePath }}"
    alt=""
  />
  <div class="card-body">
    <div>
      <p class="card-text">{{ hotel.name }}</p>
      <small>{{ hotel.description }}</small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          routerLink="/view-hotel/{{ hotel.id }}"
          type="button"
          class="btn btn-sm btn-outline-primary px-3"
        >
          View details
        </button>
        <button
          routerLink="/admin/edit-hotel/{{ hotel.id }}"
          type="button"
          class="btn btn-sm btn-outline-success px-3"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-danger px-3"
          (click)="deleteHotel()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
