<div class="card shadow-sm custom-card">
  <img
    style="height: 250px"
    class="object-fit-cover p-2"
    src="http://localhost:3000/{{ hotel.imagePath }}"
    alt="Hotel slika"
  />
  <div class="card-body d-flex flex-column p-3 overflow-hidden">
    <div class="mb-2 overflow-hidden">
      <p class="card-text text-truncate mb-1">
        <strong>
          {{ hotel.name }}
        </strong>
      </p>
      <small>{{ hotel.description }}</small>
    </div>
    <div class="btn-group mt-auto d-flex justify-content-left">
      <button
        routerLink="/view-hotel/{{ hotel.id }}"
        type="button"
        class="btn btn-sm btn-outline-primary"
      >
        View details
      </button>
      <button
        routerLink="/admin/edit-hotel/{{ hotel.id }}"
        type="button"
        class="btn btn-sm btn-outline-success"
      >
        Edit
      </button>
      <button
        type="button"
        class="btn btn-sm btn-outline-danger"
        (click)="deleteHotel()"
      >
        Delete
      </button>
    </div>
  </div>
</div>
