<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
      >
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary"
        >© 2024 Pokloni.me Company, Inc</span
      >
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://twitter.com/?lang=hr"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="25"
            height="25"
            viewBox="0 0 48 48"
          >
            <linearGradient
              id="PPS2EZlnmq9zQzR2uzDxia_1bj89U1Ansyb_gr1"
              x1="-28.671"
              x2="92.138"
              y1="50.465"
              y2="-19.284"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#262626" stop-opacity="0"></stop>
              <stop
                offset=".839"
                stop-color="#262626"
                stop-opacity=".671"
              ></stop>
              <stop offset="1" stop-color="#262626" stop-opacity=".8"></stop>
            </linearGradient>
            <path
              fill="url(#PPS2EZlnmq9zQzR2uzDxia_1bj89U1Ansyb_gr1)"
              d="M47,10.948c-1.648,0.73-3.421,1.217-5.291,1.448c1.901-1.129,3.364-2.929,4.05-5.056	c-1.779,1.043-3.75,1.809-5.847,2.213c-1.674-1.775-4.063-2.877-6.709-2.877c-5.083,0-9.203,4.084-9.203,9.119	c0,0.713,0.083,1.407,0.24,2.081c-7.647-0.384-14.429-4.019-18.966-9.536c-0.797,1.348-1.246,2.926-1.246,4.592	c0,3.166,1.621,5.953,4.093,7.595c-1.509-0.046-2.929-0.466-4.172-1.139c0,0.027,0,0.069,0,0.107c0,4.424,3.173,8.108,7.379,8.946	C10.56,28.653,9.747,28.77,8.91,28.77c-0.594,0-1.174-0.067-1.734-0.168c1.171,3.615,4.568,6.258,8.594,6.336	C12.62,37.38,8.653,38.843,4.34,38.843c-0.745,0-1.474-0.042-2.194-0.13c4.075,2.58,8.914,4.093,14.108,4.093	c16.925,0,26.184-13.898,26.184-25.956c0-0.395-0.012-0.789-0.031-1.177C44.213,14.397,45.77,12.787,47,10.948L47,10.948z"
            ></path></svg
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.instagram.com/"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="25"
            height="25"
            viewBox="0 0 48 48"
          >
            <linearGradient
              id="FYwcxc6-1W_XD10eIaYJea_ItjVB1EaJCYA_gr1"
              x1="-8.453"
              x2="50.204"
              y1="62.676"
              y2="-7.229"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#262626" stop-opacity="0"></stop>
              <stop offset="1" stop-color="#262626" stop-opacity=".8"></stop>
            </linearGradient>
            <path
              fill="url(#FYwcxc6-1W_XD10eIaYJea_ItjVB1EaJCYA_gr1)"
              d="M35,43H5V13c0-4.418,3.582-8,8-8h30v30C43,39.418,39.418,43,35,43z M30,16.5	c0,0.828,0.672,1.5,1.5,1.5s1.5-0.672,1.5-1.5c0-0.828-0.672-1.5-1.5-1.5S30,15.672,30,16.5z M18,24c0,3.314,2.686,6,6,6	s6-2.686,6-6s-2.686-6-6-6S18,20.686,18,24z M38,33V10H15c-2.757,0-5,2.243-5,5v23h23C35.757,38,38,35.757,38,33z M12,15	c0-1.654,1.346-3,3-3h21v21c0,1.654-1.346,3-3,3H12V15z"
            ></path>
            <linearGradient
              id="FYwcxc6-1W_XD10eIaYJeb_ItjVB1EaJCYA_gr2"
              x1="13.361"
              x2="88.071"
              y1="36.68"
              y2="-52.357"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#262626" stop-opacity="0"></stop>
              <stop offset="1" stop-color="#262626" stop-opacity=".8"></stop>
            </linearGradient>
            <path
              fill="url(#FYwcxc6-1W_XD10eIaYJeb_ItjVB1EaJCYA_gr2)"
              d="M30,24c0,3.314-2.686,6-6,6s-6-2.686-6-6s2.686-6,6-6S30,20.686,30,24z M31.5,15	c-0.828,0-1.5,0.672-1.5,1.5c0,0.828,0.672,1.5,1.5,1.5s1.5-0.672,1.5-1.5C33,15.672,32.328,15,31.5,15z M38,33V10H15	c-2.757,0-5,2.243-5,5v23h23C35.757,38,38,35.757,38,33z M12,15c0-1.654,1.346-3,3-3h21v21c0,1.654-1.346,3-3,3H12V15z"
            ></path></svg
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.facebook.com/"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="25"
            height="25"
            viewBox="0 0 48 48"
          >
            <linearGradient
              id="pQcjaGc72bUJv4Q1htOXba_0UCA1XL1Zy2C_gr1"
              x1="-5.862"
              x2="46.644"
              y1="-5.864"
              y2="46.642"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#262626" stop-opacity="0"></stop>
              <stop offset="1" stop-color="#262626" stop-opacity=".8"></stop>
            </linearGradient>
            <path
              fill="url(#pQcjaGc72bUJv4Q1htOXba_0UCA1XL1Zy2C_gr1)"
              d="M44,24c0,10.13-7.52,18.5-17.29,19.81V29h2.49c1.48,0,2.74-1.08,2.97-2.54l0.53-3.42h-5.99	v-1.87c0-2.18,0.71-4.12,2.75-4.12h1.29c1.1,0,2-0.9,2-2v-2.59c-0.58-0.08-1.8-0.25-4.11-0.25c-4.81,0-7.63,2.54-7.63,8.34v2.49	h-1.95c-1.66,0-3,1.34-3,3V29h4.95v14.78C11.38,42.33,4,34.03,4,24C4,12.95,12.95,4,24,4S44,12.95,44,24z"
            ></path>
            <linearGradient
              id="pQcjaGc72bUJv4Q1htOXbb_0UCA1XL1Zy2C_gr2"
              x1="15.247"
              x2="73.864"
              y1="14.257"
              y2="84.113"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="#262626" stop-opacity="0"></stop>
              <stop offset="1" stop-color="#262626" stop-opacity=".8"></stop>
            </linearGradient>
            <path
              fill="url(#pQcjaGc72bUJv4Q1htOXbb_0UCA1XL1Zy2C_gr2)"
              d="M26.71,21.17v1.87h5.99l-0.53,3.42C31.94,27.92,30.68,29,29.2,29h-2.49v14.81	C25.82,43.94,24.92,44,24,44c-1.02,0-2.02-0.08-2.99-0.22V29h-4.95v-2.96c0-1.66,1.34-3,3-3h1.95v-2.49c0-5.8,2.82-8.34,7.63-8.34	c2.31,0,3.53,0.17,4.11,0.25v2.59c0,1.1-0.9,2-2,2h-1.29C27.42,17.05,26.71,18.99,26.71,21.17z"
            ></path></svg
        ></a>
      </li>
    </ul>
  </footer>
</div>
